/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general style */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
}

/* Header */

header {
    background-color: lightgray;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
}  

h1 {
    font-size: 2rem;
    padding: 5px;
    line-height: 3rem;
    margin-top: 10px;
}

.image-logo {
    height: 4rem;
    padding: 5px;
}

.image-logo-r {
    transform: scaleX(-1);
}

/* Main */

main {
    background-color: whitesmoke;
    flex: 1 0 auto;
}

.play {
    text-align: center;
    line-height: 5rem;
    text-transform: uppercase;
}

 /* Buttons */
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.button {
    cursor: pointer;
    background-color: rgb(118, 172, 156);
    width: 2rem;
    height: 2rem;
    padding: 40px;
    margin: 0 3% 0 3%;
    border-radius: 10px;
    border: none;
}

.button:hover {
    background-color: lightblue;
}

.btn-image {
    width: 2rem;
    height: 2rem;  
}

    /* Game area */

.game-area {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: center;
}

#message {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
}

.player,
.computer {
    width: 45%;
    margin: 1%;
    text-align: center;
}

.player {
    float: left;
    background-color: lightblue;
}

.computer {
    float: right;
    background-color: lightcoral;
}

#player-img,
#computer-img {
    width: 75%;
    padding: 1%;
}

.score-box {
    clear: both;
    margin: 50px 1%;
    width: 85%;
    font-size: 1rem;
    display: inline-block;
}

#score-p {
    float: left;
}

#score-c {
    float: right;
}

/* Footer */

footer {
    background-color: lightgray;
    text-align: center;
    min-height: 70px;
    line-height: 40px;
}

.rules {
    margin-top: 10px;
    line-height: 3rem;
    text-transform: uppercase;
}

p {
    padding-bottom: 20px;
}

@media (max-width: 425px) {
    h1 {
        text-align: center;
    }

    .game-area {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        margin-top: 20%;
    }

    .player,
    .computer {
        width: 90%;
        margin-bottom: 5%;
        text-align: center;
    }
    .score-box {
        clear: both;
        margin: 50px 1%;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }
    
    #score-p {
        margin-bottom: 2rem;
    }
    
    #score-c {
    margin-bottom: 2rem;
    }
}